{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}


{% block body %}
{% include 'default/parts/header.html.twig'%}
<div class="container">
    {% if cart|length > 0 %}
    <div class="card shadow-lg my-3" style="min-height: 500px;">
        <h3 class="card-header shadow-lg text-center">Mon panier</h3>
        <div class="card-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Prix unitaire</th>
                            <th scope="col">Prix total</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for productOrder in cart %}
                            <tr>
                                <th scope="row"><a href="{{ path('show_product', {'id': productOrder.product.id})}}" class="text-dark">{{ productOrder.product.title }}</a></th>
                                <td><a href="{{ path('cart_addremove', {'id': productOrder.product.id, 'operator': 'minus'}) }}" class="btn btn-sm btn-secondary rounded-pill">-</a> <strong>{{ productOrder.quantity }}</strong>  <a href="{{ path('cart_addremove', {'id': productOrder.product.id, 'operator': 'plus'}) }}" class="btn btn-sm btn-secondary rounded-pill">+</a></td>
                                <td>{{ TTCPrice|number_format(2,'.') }} €</td>
                                <td>{{ TTCPrice|number_format(2,'.') * productOrder.quantity|number_format(2,'.') }} €</td>
                                <td><a class="btn btn-dark btn-sm rounded-pill" href="{{path('cart_remove', {'id':productOrder.product.id})}}">Supprimer</a></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <a class="btn btn-dark btn-sm rounded-pill" href="{{path('cart_delete_all')}}">Vider le panier</a>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="card-footer">
            <h5 class="text-end">Montant total TTC: {{totalTTCPrice|number_format(2,'.') }} euros</h5>
        </div>
        {% else %}
            <h2 class="text-center mt-5">Votre panier est vide !</h2>
            <h4 class="text-center mt-5">Quelques produits qui pourraient vous plaire :</h4>
            {% include 'default/parts/best-sellers.html.twig'%}
        {% endif %}
    </div>
</div>
{% endblock %}
