{% extends 'base.html.twig' %}

{% block title %}Mettre à jour mes données{% endblock %}

{% block body %}
    {% include 'default/parts/header-account.html.twig' %}
    <main>
        <div class="container my-5 d-flex justify-content-center">

            <div class="row">

                <h1 class="h3 text-center">Ajouter une adresse pour {{app.user.title}} {{app.user.firstname}} {{app.user.lastname}}</h1>
                <div class="col-12">
                    <div class="card shadow-lg my-3 card-account">
                        <div class="row g-0">
                            <div class="col-lg-4 col-xxs-12 col-sm-12">
                                <img src="{{ asset('img/terre.jpg') }}" class="img-fluid rounded-circle p-2" alt="boutique" />
                            </div>
                            <div class="col-lg-8 col-xxs-12 col-sm-12">
                                <div class="card-body">
                                    <div class="row">
                                        <a href="{{ path('show_user', {'id': app.user.id}) }}" class="text-white">Retour</a>
                                        <h5 class="text-uppercase text-decoration-underline card-title text-end pe-5">Mes informations</h5>
                                    </div>

                                    <p class="card-body d-flex justify-content-center">
                                        {{ include('default/user/_form-address.html.twig', {'button_label': 'Update'}) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>

{% endblock %}