{% extends 'base.html.twig' %}

{% block title %}Choisir mon adresse de livraison{% endblock %}

{% block body %}
    {% include 'default/parts/header-account.html.twig' %}
    <main>
        <div class="container my-5 d-flex justify-content-center">

            <div class="row">

                <h1 class="h3 text-center">Choisir les adresses de livraison et facturation</h1>
                <div class="col-12">
                    <div class="card shadow-lg my-3 card-account">
                        <div class="row g-0">
                            <div class="col-lg-3">
                                <img src="{{ asset('img/logos/logoClear.jpg') }}" width="200px" class="img-fluid rounded p-2" alt="boutique" />
                            </div>
                            <div class="col-lg-9">
                                <div class="card-body">
                                    <h5 class="text-uppercase text-decoration-underline card-title text-end me-5">Mes adresses</h5>
                                    <p class="card-text">
                                        {% for address in app.user.addresses %}
                                    <div class="card-address my-3 p-1">
                                        {% if address.isDelivery == 1 and address.isBilling == 0 %}
                                            <p class="text-uppercase h6"><strong>Livraison</strong></p>
                                        {% elseif address.isBilling == 1 and address.isDelivery == 0 %}
                                            <p class="text-uppercase h6"><strong>Facturation</strong></p>
                                        {% else %}
                                            <p class="text-uppercase h6"><strong>Facturation & Livraison</strong></p>
                                        {% endif %}
                                        <p>{{ address.streetNumber }}, {{ address.street }}</p>
                                        <p class="text-uppercase">{{ address.zipcode }} {{ address.city }}</p>
                                        <div class=" card-footer text-end">
                                            <a href="{{ path('edit_address', {'id': address.id}) }}" class="text-white">Modifier</a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>

{% endblock %}