{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
    {% include 'default/parts/header-account.html.twig' %}
    <main>
        <div class="container my-5 d-flex justify-content-center">

            <div class="row">

                <h1 class="h3 text-center">Voir le détail de votre commande du {{ invoice.orderDate ? invoice.orderDate|date('d/m/Y') : '' }}</h1>
                <div class="col-12">
                    <div class="card shadow-lg my-3 card-account">
                        <div class="row g-0">
                            <div class="col-lg-3">
                                <img src="{{ asset('img/logos/logoClear.jpg') }}" width="200px" class="img-fluid rounded p-2" alt="boutique" />
                            </div>
                            <div class="col-lg-9">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="text-uppercase text-decoration-underline card-title text-end me-5 mb-5">Détail de la facture</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 me-1">
                                            <div class="card card-account ms-3">
                                                <div class="card-header h6 text-center">
                                                    <strong>Adresse de facturation</strong>
                                                </div>
                                                <div class="card-body">
                                                    <p class="text-uppercase">{{ invoice.user.title }} {{ invoice.user.firstname }} {{ invoice.user.lastname }}</p>
                                                    {% for address in invoice.user.addresses%}
                                                        {% if address.isBilling == 1 %}
                                                            <p>{{ address.streetNumber }} {{ address.street }}</p>
                                                            <p class="text-uppercase">{{ address.zipCode }} {{ address.city }}</p>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6 ms-1">
                                            <div class="card card-account ms-3">
                                                <div class="card-header h6 text-center">
                                                    <strong>Informations sur la commande</strong>
                                                </div>
                                                <div class="card-body">
                                                    <p>Commande du: {{ invoice.orderDate ? invoice.orderDate|date('d/m/Y') : '' }}</p>
                                                    <p>Montant total de la commande: {{ invoice.TotalHTPrice }} €</p>
                                                    <p>Moyen de paiement: {{ invoice.paymentMethod }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                            <div class="row card-body">
                                <table class="table table-sm text-white my-5 mx-5">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Produit</th>
                                        <th>Quantité</th>
                                        <th>Prix total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for productOrder in invoice.productOrders %}
                                        <tr>
                                            {% for picture in productOrder.product.pictures %}
                                                {% if picture.isFront == 1 %}
                                                    <td><img src="{{asset('img/uploads/product/' ~ picture.href )}}" class="thumb-order p-1 border"></td>
                                                {% endif %}
                                            {% endfor %}
                                            <td>{{ productOrder.product.title }}</td>
                                            <td>{{ productOrder.quantity }}</td>
                                            <td>{{ productOrder.TTCPrice|number_format(2,'.') }} €</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Montant total de la facture</th>
                                        <td class="text-end"><strong>{{ invoice.TotalTTCPrice|number_format(2,'.') }} €</strong></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <a href="{{ path('default_invoice_index') }}" class="text-white">Retour à mes commandes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}