{% extends 'base.html.twig' %}

{% block title %}Compte client{% endblock %}

{% block body %}

    {% include 'default/parts/header.html.twig' %}

<main>
    <div class="container d-flex justify-content-center">
        <div class="card shadow-lg my-3 card-account" >
            <h1 class="card-header shadow-lg h3 my-3 text-center">Bienvenue, {{user.title}} {{user.firstname}} {{user.lastname}}</h1>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="my-4 mx-3">
                            <h5>Mes informations</h5>
                            <div>
                                <p><strong>Titre: </strong>{{ user.title }}</p>
                                <p><strong>Prénom: </strong>{{ user.firstname }}</p>
                                <p><strong>Nom: </strong>{{ user.lastname }}</p>
                                <p><strong>Nom d'utilisateur: </strong>{{ user.username }}</p>
                                <p><strong>Adresse email: </strong>{{ user.email }}</p>
                                <p><strong>Date de naissance: </strong></p>
                                <p><strong>Date d'enregistrement: </strong></p>
                            </div>
                            <a href="{{ path('edit_user', {'id': app.user.id}) }}" class="text-white">Modifier</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="my-4 mx-3">
                            <h5>Mes adresses</h5>
                            <p>récupérer les adresses du compte</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="my-4 mx-3">
                            <h5>Mes commandes</h5>
                            <p>récupérer les commandes du compte</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mb-2">
                <a href="{{ path('app_logout') }}" class="text-white">Me déconnecter</a>
            </div>
        </div>
    </div>
</main>

{% endblock %}