<ul class="list-group list-group-flush">
  <li class="list-group-item bg-dark fs-6 text-end">
    <div class="d-none d-sm-inline mx-1 text-light">Bonjour {{app.user.firstname}} {{app.user.lastname}}</div>
  </li>
  <li class="list-group-item bg-dark fs-4 text-uppercase">
    <a href="http://localhost:4200/login" class="stretched-link link-light text-decoration-none"
      >Statistiques</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="{{ path('admin_product_index') }}" class="stretched-link link-light text-decoration-none"
      >Produits</a
    >
  </li>
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="{{ path('admin_category_index') }}" class="stretched-link link-light text-decoration-none"
      >Catégories</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="{{ path('admin_brand_index') }}" class="stretched-link link-light text-decoration-none"
      >Marques</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="{{ path('admin_user_index') }}" class="stretched-link link-light text-decoration-none"
    >Clients</a
    >
  </li>
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="{{ path('admin_invoice_index') }}" class="stretched-link link-light text-decoration-none"
      >Factures</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="{{path('app_logout')}}" class="stretched-link link-light text-decoration-none"
      >Déconnecter</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="{{path('default')}}" class="stretched-link link-light text-decoration-none"
    >Retour à la boutique</a
    >
  </li>
</ul>