<ul class="list-group list-group-flush">
  <li class="list-group-item bg-dark fs-6 text-end">
    <div class="d-none d-sm-inline mx-1 text-light">Bonjour {{app.user.firstname}} {{app.user.lastname}}</div>
  </li>
  <li class="list-group-item bg-dark fs-4 text-uppercase">
    <a href="{{ path ('admin')}}" class="stretched-link link-light text-decoration-none"
      >Dashboard</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="{{ path('admin_product_index',{'currentPage': currentPage,'nbResults': 5}) }}" class="stretched-link link-light text-decoration-none"
      >Produits</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="/" class="stretched-link link-light text-decoration-none"
      >Clients</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="/" class="stretched-link link-light text-decoration-none"
      >Commandes</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="/" class="stretched-link link-light text-decoration-none"
      >Paniers</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="/" class="stretched-link link-light text-decoration-none"
      >Fournisseurs</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="/" class="stretched-link link-light text-decoration-none"
      >Factures</a
    >
  </li>
  <li class="list-group-item bg-dark fs-5 text-uppercase">
    <a href="{{path('app_logout')}}" class="stretched-link link-light text-decoration-none"
      >Déconnecter</a
    >
  </li>
</ul>