        <section> 
                <div class="container my-5 text-center">    
                    <h4 class="text-center">Nos meilleures ventes</h4>
                    <div class="row d-flex justify-content-center">
                {% for product in products %}
                {% if product.isFlash == 1 %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="card shadow-lg">
                            <a href="{{ path('show_product', {'id': product.id})}}">
                                {% for picture in product.pictures %}
                                    {% if picture.isFront == 1  %}
                                    <img src="{{asset('img/uploads/product/' ~ picture.href )}}" width="200" height="200" alt="produit phare"/>
                                    {% endif %}
                                {% endfor %}
                            </a>
                            <div class="card-body">
                                <p><strong>{{ product.HTPrice|number_format(2,'.')}} €</strong></p>
                                <p>{% include 'default/parts/stars.html.twig' %}</p>
                                <p>{{ product.title }}</p>

                            </div>
                            <div class="card-footer align-items-end pb-1">
                                <a href="{{ path('show_product', {'id': product.id})}}" class="panier btn">Voir + </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                    </div>
                </div>
            </section>