    <footer>
        {# corps principal du footer #}
        <section>
            {# 2 menus #}
            <div class="container">
                <div class="row d-flex align-items-end">
                    {# menu de gauche #}
                    <div class="col-lg-4 col-sm-12 text-start">
                        <div class="">
                            <nav class="nav flex-column">
                                <a class="nav-link active" aria-current="page" data-bs-toggle="modal" href="#deliveryModal">Livraison</a>
                                <a class="nav-link" data-bs-toggle="modal" href="#paymentsModal">Moyens de paiement</a>
                                <a class="nav-link" href="#">CGV</a>
                                <a class="nav-link" href="#">Retour en haut de page</a>
                            </nav>
                        </div>
                    </div>
                    {# logo livraison gratuite #}
                    <div class="col-lg-4 col-sm-12 text-center">

                            <img src="{{ asset('img/reassurance/freeDelivery.png') }}" width="" height="" alt="chat" class="img-fluid">

                    </div>
                    {# menu de droite #}
                    <div class="col-lg-4 col-sm-12 text-end">
                        <div class="">
                            <nav class="nav flex-column">
                                <a class="nav-link active" aria-current="page" href="#">Qui sommes-nous</a>
                                <a class="nav-link" href="#">FAQ</a>
                                <a class="nav-link" href="#">Mentions légales</a>
                             
                                <ul class="nav flex-row justify-content-end">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#"><img
                                                src="{{ asset('img/social/youtube.png') }}" width="30" height="" alt="Youtube"
                                                class=""></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><img src="{{ asset('img/social/facebook.png') }}" width="30"
                                                height="" alt="Facebook" class=""></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><img src="{{ asset('img/social/instagram.png') }}" width="30"
                                                height="" alt="Instagram" class=""></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><img src="{{ asset('img/social/mail.png') }}" width="30" height=""
                                                alt="Contact" class=""></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {# phrase de rappel #}
                    <div class="col-lg-12 col-sm-12 text-center">
                        <div class="">
                            <p>La Nîmes'alerie, le petshop qui envoie vos compagnons dans l'espace, depuis 1810</p>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'default/parts/delivery.html.twig' %}
            {% include 'default/parts/payments.html.twig' %}
        </section>

    </footer>