
        {# menu de navigation produits #}
        <section class="fixed-top navbar-top">
            <div class="container mb-5">
                <nav id="navbar_top" class="navbar navbar-expand-xl">
                    <a href="{{ path ('default') }}" class="navbar-brand mx-5 px-3">Accueil</a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon navbar-dark"></span>
                    </button>

                    {# menus déroulants par catégories#}
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav px-5">
                            {% for parentCategory in categories|keys %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle mx-1" data-bs-toggle="dropdown">{{parentCategory}}</a>
                                <div class="dropdown-menu">
                                    {% for childCategory in categories[parentCategory] %}
                                        <a href="{{ path('show_category', {'id': childCategory.id})}}" class="dropdown-item">{{childCategory.name}}</a>
                                    {% endfor %} 
                                </div>   
                            </li>
                            {% endfor %}
                        </ul>

                        {# item de menu tout à droite #}
                        <ul class="nav navbar-nav ms-auto px-3">
                            
                            {% if app.user %}
                                {% if app.user.hasRole('ROLE_ADMIN') %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-center dropdown-toggle" data-bs-toggle="dropdown"><img src="{{ asset('img/chien-loupe.jpg') }}" width="50" height="50" alt="Compte"></br>Administration</a>
                                        <div class="dropdown-menu">
                                            <a href="{{ path('admin') }}" class="dropdown-item">Dashboard</a>
                                            <a href="{{ path('app_logout') }}" class="dropdown-item">Me déconnecter</a>
                                        </div>
                                    </li>
                                {% else %}
                                <li class="nav-item">
                                <a href="{{ path('cart_display')}}" class="nav-link text-center " aria-current="page"><img
                                        src="{{ asset('img/icons/cart.png') }}" width="50" height="50" alt="Panier"
                                        class="cart"></br>Panier</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-center dropdown-toggle" data-bs-toggle="dropdown"><img src="{{ asset('img/icons/account.png') }}" width="50" height="50" alt="Compte"></br>Mon compte</a>
                                    <div class="dropdown-menu">
                                        <a href="{{ path('show_user', {'id': app.user.id}) }}" class="dropdown-item">Mon compte</a>
                                        <a href="{{ path('default_invoice_index') }}" class="dropdown-item">Mes commandes</a>
                                        <a href="{{ path('app_logout') }}" class="dropdown-item">Me déconnecter</a>
                                    </div>
                                </li>
                                {% endif %}
                            {% else %}
                                <li class="nav-item">
                                <a href="{{ path('cart_display')}}" class="nav-link text-center " aria-current="page"><img
                                        src="{{ asset('img/icons/cart.png') }}" width="50" height="50" alt="Panier"
                                        class="cart"></br>Panier</a>
                            </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-center dropdown-toggle" data-bs-toggle="dropdown"><img src="{{ asset('img/icons/account.png') }}" width="50" height="50" alt="Compte" ></br>Se connecter</a>
                                    <div class="dropdown-menu">
                                        <a href="{{ path('app_login') }}" class="dropdown-item">Me connecter</a>
                                        <a href="{{ path('register') }}" class="dropdown-item">M'enregistrer</a>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </section>


