{{ form_start(form) }}

    <div class="container">

        <div class="my-2 me-3 col-6">
            {{ form_label (form.title) }}
            {{ form_widget (form.title) }}
            <div class="form-error">
                {{ form_errors (form.title) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4 my-2 me-3">
                {{ form_label (form.category) }}
                </br>
                {{ form_widget (form.category) }}
                <div class="form-error">
                    {{ form_errors (form.category) }}
                </div>
            </div>

            <div class="col-4 my-2 me-3">
                {{ form_label (form.brand) }}
                </br>
                {{ form_widget (form.brand) }}
                <div class="form-error">
                    {{ form_errors (form.brand) }}
                </div>
            </div>
        </div>


        <div class="my-2 me-3 col-6">
        {{ form_label (form.description) }}
        {{ form_widget (form.description) }}
        <div class="form-error">
            {{ form_errors (form.description) }}
        </div>
        </div>

        <div class="my-2 me-3 col-2">
        {{ form_label (form.HTprice) }}
        {{ form_widget (form.HTprice) }}
        <div class="form-error">
            {{ form_errors (form.HTprice) }}
        </div>
        </div>

        <div class="my-2 me-3 col-2">
        {{ form_label (form.stock) }}
        {{ form_widget (form.stock) }}
        <div class="form-error">
            {{ form_errors (form.stock) }}
        </div>
        </div>

        <div class="my-2 me-3">
        {{ form_label (form.isActive) }}
        {{ form_widget (form.isActive) }}
        <div class="form-error">
            {{ form_errors (form.isActive) }}
        </div>
        </div>

        <div class="my-2 me-3">
        {{ form_label (form.isFlash) }}
        {{ form_widget (form.isFlash) }}
        <div class="form-error">
            {{ form_errors (form.isFlash) }}
        </div>
        </div>

        <div class="my-2 me-3 col-2">
        {{ form_label (form.stars) }}
        </br>
        {{ form_widget (form.stars) }}
        <div class="form-error">
            {{ form_errors (form.stars) }}
        </div>
        </div>

        <div class="mt-2 me-3">
            <div class="d-flex flex-row">
                {% for picture in product.pictures %}
                    <img src="{{asset('img/uploads/product/' ~ picture.href )}}" class="thumbnail border me-2 rounded my-2 "
                         alt="{{ picture.alt }}"/>
                {% endfor %}
                <button type="button"
                        class="addPicture btn btn-add-picture mb-2 mt-2"
                        data-list-selector="#picture-fields-list">
                    +
                </button>
            </div>
            {{ form_widget(form.pictures )}}
            <div class="form-error">
                {{ form_errors (form.pictures) }}
            </div>
            {# upload d'images #}
            <ul id="picture-fields-list"
                class="list-group list-group-horizontal-sm"
                data-widget-tags="{{ '<li class="list-group-item flex-fill"></li>'|e }}"
                data-widget-counter="{{ form.pictures|length }}">
                {% for pictureField in form.pictures %}
                    <li>
                        {{ form_errors(pictureField) }}
                    </li>
                {% endfor %}
            </ul>
        </div>


        <div class="my-2 me-3 col-2">
        {{ form_widget (form.save) }}
        </div>
        
    </div>
</div>

{{ form_end(form) }}
