{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} Nouveau produit{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="mb-3 ms-4">Ajouter un nouveau produit</h1>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <a href="{{ path('admin_product_index',{'currentPage': 1,'nbResults': 5}) }}" class="btn btn-dark rounded-pill">Retour</a>
        </div>
    </div>
    <div class="row">
        {{ include('admin/admin_product/_form.html.twig') }}
    </div>

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script rel="script" src="{{ asset('js/admin/prototype-product.js') }}"></script>
{% endblock %}