{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} Nouveau produit{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Ajouter un nouveau produit</h1>

    <div class="col-6">
        <a class="text-dark" href="{{ path('admin_product_index') }}"><< Retour </a>
    </div>

    <div class="row">
        {{ include('admin/admin_product/_form.html.twig') }}
    </div>

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script rel="script" src="{{ asset('js/admin/prototype-product.js') }}"></script>
{% endblock %}