{% extends 'base-admin.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="container">
            <h1 class="text-center">Rechercher un produit</h1>
            <div class="form-group">

                <div class="my-2 me-3">
                    {{ form_label (form.searchBar) }}
                    </br>
                    {{ form_widget (form.searchBar) }}
                    <div class="form-error">
                        {{ form_errors (form.searchBar) }}
                    </div>
                </div>
                <div class="my-2 me-3 col-6">
                    {{ form_label (form.category) }}
                    </br>
                    {{ form_widget (form.category) }}
                    <div class="form-error">
                        {{ form_errors (form.category) }}
                    </div>
                </div>
                <div class="my-2 me-3 col-6">
                    {{ form_label (form.brand) }}
                    </br>
                    {{ form_widget (form.brand) }}
                    <div class="form-error">
                        {{ form_errors (form.brand) }}
                    </div>
                </div>
                <div class="my-2 me-3 col-6">
                    {{ form_label (form.stars) }}
                    </br>
                    {{ form_widget (form.stars) }}
                    <div class="form-error">
                        {{ form_errors (form.stars) }}
                    </div>
                </div>
                <div class="my-2 me-3 col-6">
                    {{ form_label (form.minPrice) }}
                    </br>
                    {{ form_widget (form.minPrice) }}
                    <div class="form-error">
                        {{ form_errors (form.minPrice) }}
                    </div>
                </div>
                <div class="my-2 me-3 col-6">
                    {{ form_label (form.maxPrice) }}
                    </br>
                    {{ form_widget (form.maxPrice) }}
                    <div class="form-error">
                        {{ form_errors (form.maxPrice) }}
                    </div>
                </div>
                <div class="my-2 me-3 col-2">
                    {{ form_widget (form.save) }}
                </div>

            </div>
        </div>
    {{ form_end(form) }}
 
        <div class="container my-3 text-center">    
            <h4 class="text-center">
                {% if products|length > 1 %} {{products|length}} produits correspondent
                {% elseif products|length == 1  %} {{products|length}} produit correspond
                {% elseif products|length == 0  %} Aucun produit correspondant
                {% endif %} 
                à votre recherche
            </h4>

            <div class="row d-flex justify-content-center">

                {% for product in products %}

                    <div class="col-lg-4 col-sm-6 mb-2">
                        <div class="card-sm shadow-lg ">
                            <a href="{{ path('show_product', {'id': product.id})}}">
                                {% for picture in product.pictures %}
                                    {% if picture.isFront == 1  %}
                                    <img src="{{asset('img/uploads/product/' ~ picture.href )}}" width="200" height="200" alt="produit phare"/>
                                    {% endif %}
                                {% endfor %}
                            </a>
                            <div class="card-body">
                                <p><strong>{{ product.HTPrice|number_format(2,'.')}} €</strong></p>
                                <p>{% include 'default/parts/stars.html.twig' %}</p>
                                <p>{{ product.title }}</p>
                            </div>
                            <div class="card-footer bg-white text-end align-items-end pb-1 rounded">
                                <a href="{{ path('admin_product_show', {'id': product.id}) }}" class="btn btn-dark rounded-pill">Voir + </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

{% endblock %}
