{{ form_start(form) }}
   <div class="container">
       <div class="form-group col-6">
           <div class="my-2 me-3">
               {{ form_label (form.name) }}
               </br>
               {{ form_widget (form.name) }}
           </div>
           <div class="form-error">
               {{ form_errors (form.name) }}
           </div>
           <div class="my-2 me-3 col-2">
               {{ form_widget (form.save) }}
           </div>
       </div>
   </div>

{{ form_end(form) }}
