{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} des marques {% endblock %}

{% block heading %}
    Gestion des marques en base de données
{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center">Toutes les marques</h1>

        <div class="row">
            <div class="col-12 text-center">
                <p>Bonjour <strong>{{app.user.firstname}} {{app.user.lastname}}</strong>, ici vous pourrez avoir une vision d'ensemble des marques enregistrées en base de données !</p>
            </div>
            <div class="col-6">
                <div class="row">
                    <a class="text-dark" href="{{ path('admin_brand_new') }}">Ajouter une marque</a>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <a href="{{ path('admin_brand_index',{'currentPage': currentPage,'nbResults': 10}) }}" class="nbResults text-end">Afficher 10 résultats par page</a>
                </div>
                <div class="row">
                    <a href="{{ path('admin_brand_index',{'currentPage': currentPage,'nbResults': 5}) }}" class="nbResults text-end">Afficher 5 résultats par page</a>
                </div>
            </div>
        </div>

        <table class="table table-striped table-hover table-sm my-3">
            <thead>
                <tr>
                    <th>Nom de la marque</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for brand in brands %}
                    <tr>
                        <td>{{ brand.name }}</td>
                        <td>
                            <div class="row">
                                <div class="col-lg-3 col-sm-12 col-xxs-12">
                                    <a class="text-dark" href="{{ path('admin_brand_edit', {'id': brand.id}) }}">Modifier</a>
                                </div>
                                <div class="col-lg-2 col-sm-12 col-xxs-12">
                                    {{ include('admin/admin_brand/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucune marque trouvée</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if currentPage != 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('admin_brand_index', {'currentPage': currentPage-1, 'nbResults': nbResults}) }}">Précédent</a>
                    </li>
                {% endif %}

                {% for page in 1..nbPages%}
                    <li class="page-item {% if page == currentPage %}active{% endif %}"><a class="page-link" href="{{ path('admin_brand_index', {'currentPage': page, 'nbResults': nbResults}) }}">{{page}}</a></li>
                {% endfor %}

                {% if currentPage != nbPages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('admin_brand_index', {'currentPage': currentPage+1, 'nbResults': nbResults}) }}">Suivant</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>


{% endblock %}
